/*layouting for all*/
.root{
    -fx-background-color: white;
}

.label{
    -fx-font-weight: bold;
}

.chart{
    /*-fx-background-color: #dafdff;*/
    -fx-legend-side: top;

}


.chart-legend {
    -fx-background-color:  transparent;
}

.axis{
    -fx-tick-label-font-size: 12px;
}

.axis-label{

    -fx-label-padding: 10 0 10 0;
}
